ADMIN_USERNAME=admin
ADMIN_PASSWORD=Physique2026!
ADMIN_SESSION_SECRET=change-me
ADMIN_PASSWORD_SALT=change-me-too
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# sqlite | supabase
DATABASE_PROVIDER=sqlite

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_SERVICE_ROLE_KEY=
